html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.register_overlay{
    position:fixed;
    background-image: url(../img/lava.jpg);
    animation:100s scroll infinite linear;

    top:0;
    left:0;
    width:100%;
    height:100%;
}

h1{
    text-align:center;
    color:#FFF;
    margin-top:40%;
    font:60px Courier;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
}

@keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

.register_wrap{
    width:400px;
    margin:0 auto;
    padding: 50px 0;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:20px;
    border-radius:5px;
    border-color: crimson;
    outline:crimson;
    font:13px Courier;
}

input[type="submit"]{
    background:crimson;
    color:#FFF;
    width:100%;
    padding:15px;
    font-weight:700;
    opacity:0.8;
}


input[type="submit"]:hover{
    cursor:grab;
    opacity:1;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    border-left:12px solid crimson;
    transition: 0.7s;
}

.register_help{
    font:13px Courier;
    color:#FFF;
    font-weight:700;
    text-decoration: none;
    opacity:0.6;
    margin-right:5px;
    margin-left: 5px;
}

.register_help:hover{
    opacity: 1;
}


@media(max-height: 700px){
    h1{
        margin-top: 30%;
    }
}

@media (max-height: 600px){
    input{
        width: 90%;
    }

    h1{
        margin-top: 0%;
        font: 30px Courier;
    }

    .register_wrap{
        width: 280px;
    }

    input[type="submit"] {
        width: 90%;
        padding: 12px;
    }
}

@media (max-height: 450px){
    h1{
        font: 20px Courier;
    }

    input{
        margin-bottom: 3%;
    }

    .register_wrap{
        padding: 10px;
    }

    input[type="submit"] {
        padding: 8px;
    }
}

@media (max-width: 500px){
    input {
        width: 93%;
    }

    h1 {
        font: 30px Courier;
    }

    .register_wrap {
        width: 280px;
    }
    
    input[type="submit"] {
        width: 93%;
    }

    .register_help{
        margin-right: 100px;
    }

}